*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url('images/clear.jpg');
    height:100vh;
    overflow: hidden;
    background-size:cover ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container{
    text-align: center;
    position: absolute;
    top:30px;
    left:37%;
    margin:100px auto;
    width:50vh;
    height:65vh;
    background-color:rgb(255, 255, 255,0.6) ;
    padding:15px;
    border-radius: 13px;

}
.search{
    margin-top: 15px;
    margin-bottom: 22px;
}
input{
    height:35px;
    width:90%;
    padding:10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    border: rgb(104, 98, 98);
}
.display{
   border: solid;
   height:44vh;
   width:90%;
   margin-left: 16px;
   padding:20px;
   border-radius:10px;
   background-color:white;
   border:none;
   line-height: 1.8rem;
   color:maroon;
   letter-spacing: 2px;
   display:none;
}
.initial-details{
    margin-bottom: 20px;
}
.city{
    margin-bottom: 4px;
    font-weight: 600;
}
.date{
    word-spacing: 4px;
}
.tempreture{
    font-size: 3.3rem;
    font-weight: 600;
}
.min-max{
    margin-top: 20px;
    font-weight: 600;
}
.catagory{
    font-weight: 400;
}
img{
    height:80px;
    width:80px;
}